body {
  text-align: center;
  font-family: Neusa, Impact, Helvetica Neue, Arial, Sans-Serif;
  color: #2a2c32;
  font-size: 1.625em;
  font-weight: 500;
  background:
    /* linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), */
    linear-gradient(rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.705)),
    url('https://cdn.shopify.com/s/files/1/0023/3789/8540/products/20211201_A24_WiggleEyes_33363x2gray_1550x.jpg?v=1639005811');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0 10%;
}

main {
  padding: 2%;
  /* background: linear-gradient(rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.705)); */
}

h1 {
  text-transform: uppercase;
}

#media {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  height: 600px;
}
