@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: rgba(0, 0, 0, 0.918);
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color:rgba(67, 67, 252, 0.822);
}

img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

#links {
  display: inline-flex;
  justify-content: space-around;
}

.link {
  width: 100px;
  height: auto;
}