.hiddenav {
  display: none;
}

form {
  padding: 15px;
  background-color: aqua;
  font-style: italic;
  border-style: dotted;
  font-weight: bold;
}

input {
  color: black;
  background-color: green;
  padding: 10px;
}

#box1 {
  background-color: black;
  height: 50px;
  width: 50px;
}

#box1:hover {
  background-color:orange;
}

#box2 {
  background-color: blue;
  height: 50px;
  width: 50px;
}