#box {
  background-color: blue;
  width: 500px;
  height: 500px;
  border: solid;

}

.purple {
  background-color: rgb(150, 139, );
}

.bigLetter {
  font-size: 100px;
}

.first {
  color: #282c34;
}

#another_h {
  background-color:#282c34;
  color:#f8c54e;
}

#another_p {
  background-color:#db0a5a;
  color: white;
}