@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

body {
	margin: 0;
	background-color: #3e5f73;
	font-family: 'Ubuntu Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: xx-large;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
