.App {
	text-align: center;
	color: #f7f7ff;
}

h2,
h3,
h4 {
	color: #ead27a;
}

span {
	color: #f7f7ff;
	font-size: 0.7em;
}

button {
	padding: 18px 20px;
	margin: 8px;
	border: none;
	border-radius: 6px;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 0.6em;
	color: #3e5f73;
	background-color: #ead27a;
}
