@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	border: 1px solid red;
}

body {
	box-sizing: border-box;
	background-color: #756c8b;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
}

h2 {
	font-size: 2em;
}

.wrapper {
	display: grid;
	background-color: #f7f6f6;
	position: relative;
	margin: auto;
	width: 80vw;
	padding: 80px 20px;
	grid-gap: 20px;
	grid-template-areas:
		'sidenav reviews average-rating sentiment'
		'sidenav visitors visitors visitors';
	grid-template-columns: 20% 1fr 1fr 1fr;
	grid-template-rows: 45vh 45vh;
	border-radius: 6px;
}

.sidenav {
	grid-area: sidenav;
	display: flex;
	align-items: center;
	justify-content: center;
}

.reviews {
	background-color: #dddddd;
	grid-area: reviews;
	display: flexbox;
	padding: 20px;
}

.average-rating {
	background-color: #dddddd;
	grid-area: average-rating;
	display: flexbox;

	padding: 20px;
}

.sentiment {
	background-color: #dddddd;
	grid-area: sentiment;
	display: flexbox;
	padding: 20px;
}

.sentiment h2 {
	text-align: center;
}

.visitors {
	background-color: #dddddd;
	grid-area: visitors;
	display: flexbox;
  justify-content: space-between;
	padding: 20px;
}

.graph {
	background-color: #bebdbd;
	height: 100px;
}
