#parent {
  border: solid red;
  display: flex;
  flex-wrap: wrap;
}

.child {
  border: white;
  width: calc(33.3333% - 20px);
  margin: 10px;
  height: 300px;
  background-color: blue;
}

#box1 {
  order: 3;
}

#box2 {
  order: 1;
}

#box3 {
  order: 5;
}

#box4 {
  order: 2;
}

#box5 {
  order: 4;
}