#parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px 10px;
}

.child {
  color: white;
  background-color: red;
  border: solid white;
  font-family: Roboto, sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding: 10px;
}